<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
		<add name="DBCS" connectionString="data source=.; database = Northwind; password = ; integrated security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
    <system.web>
		<pages>
			<controls>
				<add src="~/Controls/AddUser.ascx" tagName="AddUserControl" tagPrefix="uc1"/>
			</controls>
		</pages>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
